.container {
	text-align: center;
	font-family: "Verdana";
	font-size: 30px;
	color:   #FF0202;
	background-image: url("map1.jpg");
	background-position: center;
    background-repeat: no-repeat;
}
a {
	font-family: "Verdana";
	font-size: 30px;
	color: #000000;
	font-style: normal;
}
